<h1><%= @project.title %></h1>
<h2>Managed by: <%= @project.user.username %></h2>
<h3>Tasks: </h3>
<ul>
    <% @project.tasks.map do |t| %>
    <li><%= link_to t.title, t %></li>
    <% end %>
</ul>
<%= link_to "Create a new task for this project", new_project_task_path(@project) %>